<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321139598212-q43hrrrmoqmmqeali5r132bshdj65jdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321139598212-q43hrrrmoqmmqeali5r132bshdj65jdv</string>
	<key>API_KEY</key>
	<string>AIzaSyCaLGERioTqOVOcFUFDL7Xay9ruiNbF-MU</string>
	<key>GCM_SENDER_ID</key>
	<string>321139598212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drivana</string>
	<key>PROJECT_ID</key>
	<string>bmp280-3eefe</string>
	<key>STORAGE_BUCKET</key>
	<string>bmp280-3eefe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321139598212:ios:6401c507ee2db7191bf3d1</string>
	<key>DATABASE_URL</key>
	<string>https://bmp280-3eefe-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>